HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.java-version

### Cursor
*.cursorrules

### Node ###
node_modules/
npm-debug.log
package-lock.json

### TypeScript ###
*.js.map
*.tsbuildinfo

### Compiled JavaScript from TypeScript ###
src/main/resources/static/js/*.js